* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    padding: 1rem;
}

main {
    display: flex;
    justify-content: center;
}

/* =====================
    board
======================== */
div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-squares {
    background-color: powderblue;
}

.black-squares {
    background-color: peru;
}

.chessboard {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

/* =====================
    pawns
======================== */
.fas {
    font-size: 2rem;
}

.white>i {
    color: rgb(255, 255, 255);
}
